<p class="slot" {{action 'toggleAvailable'}}>
  Slot ID: {{slot.id}}
  Slot Time: {{slot.time_block}}
  Available: {{slot.available}}
  {{#if slot.available}}
    <button class="btn btn-xs btn-primary slot-book-button" {{action 'book'}}>
    Book this slot
    </button>
  {{/if}}
</p>
